* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: rgb(255, 255, 255);
}

p img {
    background-size: 100% 100%;
    object-fit: cover;
}

iu
/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #000000;
    margin: 0px;
    list-style: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
}

.topnav ul li {
    list-style: none inside;
}


/* Định dạng link điều hướng */

.topnav a {
    float: left;
    display: block;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Thay đổi màu liên kết khi di chuột qua */

.topnav a:hover {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
}


/* Thêm định dạng thẻ cho bài viết */

.card-news {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    float: left;
}

.card-news>h3 {
    text-align: center;
}


/* Clear float khác sau các cột */

.row {
    content: "";
    display: table;
    clear: both;
    align-items: center;
}

.row>h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 15px;
}

.card-news a img {
    width: 400px;
    height: 200px;
    right: 20px;
}

.card-news:hover {
    transform: scale(1.1);
}


/* Footer */

.footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 50px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer .noi-dung {
    margin-right: 30px;
}

.footer .noi-dung.about {
    width: 30%;
}

.footer .noi-dung.about p {
    color: rgb(0, 0, 0);
}

.footer .noi-dung.about h2 {
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 15px;
}

.footer .noi-dung.about h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
}

.links h2 {
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 15px;
}

.links h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
}

.links {
    position: relative;
    width: 30%;
}

.links div p {
    list-style: none;
}

.links div p a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.links div p a:hover {
    color: rgb(255, 0, 0);
}

.contact h2 {
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 15px;
}

.contact h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.contact .info li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.main .layer1 {
    background-color: rgb(49, 48, 48);
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
}

.main .layer1 .text1>ul>li {
    color: aliceblue;
    list-style: none;
    float: left;
    padding: 0px 40px 0px 40px;
    background-color: rgb(49, 48, 48);
}

.main .layer1 .text1 ul li a {
    color: aliceblue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
    padding: 0 3px;
    font-size: 16px;
}

.main .layer1 .text1 ul li a:hover {
    background-color: rgb(49, 48, 48);
    color: rgb(190, 190, 190);
    background-position: center;
    font-size: 25px;
}

.main .layer1 .icon1 a {
    position: absolute;
    left: 1350px;
    color: white;
    font-size: 25px;
    top: 20px;
    transition: 0.5s;
}

.main .layer1 .icon1 a:hover {
    background-position: center;
    font-size: 30px;
    color: blue;
}

.main .layer1 .icon2 a {
    position: absolute;
    left: 1400px;
    color: white;
    font-size: 25px;
    top: 20px;
    transition: 0.5s;
}

.main .layer1 .icon2 a:hover {
    background-position: center;
    font-size: 30px;
    color: red;
}

.main .layer1 .icon3 a {
    position: absolute;
    left: 1450px;
    color: white;
    font-size: 25px;
    top: 20px;
    transition: 0.5s;
}

.main .layer1 .icon3 a:hover {
    background-position: center;
    font-size: 30px;
    color: fuchsia;
}

.main .layer2 .title h1 {
    position: absolute;
    left: 500px;
    top: 200px;
    font-size: 200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

.main .layer2 .title1 h1 {
    position: absolute;
    left: 730px;
    top: 290px;
    font-size: 60px;
    color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.5s;
}

.main .layer2 h1:hover {
    background-position: left;
    color: yellow;
}

.main .layer3 {
    padding: 100px 150px;
    position: absolute;
    background-color: palevioletred;
    top: 800px;
    left: 200px;
    border: 10px solid white;
    border-radius: 20px;
    border-color: aliceblue;
    transition: 0.5s;
}

.main .layer3 .text2 h1 {
    color: aliceblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    top: 60px;
    right: 80px;
    position: absolute;
}

.main .layer3 .text3 h1 {
    color: aliceblue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main .layer3 .line p {
    color: aliceblue;
    position: absolute;
    right: 80px;
    top: 170px;
}

.main .layer3 .text4 h1 {
    color: aliceblue;
    position: absolute;
    right: 150px;
    top: 230px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.main .layer3:hover {
    filter: brightness(85%);
    background-position: center;
}

.main .layer4 {
    padding: 100px 150px;
    position: absolute;
    background-color: rgb(248, 248, 248);
    top: 700px;
    left: 650px;
    border: 10px solid white;
    border-radius: 20px;
    border-color: palevioletred;
    transition: 0.5s;
}

.main .layer4 .text4 h1 {
    color: palevioletred;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    top: 60px;
    left: 40px;
    position: absolute;
}

.main .layer4 .text5 h1 {
    color: palevioletred;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main .layer4 .line p {
    color: aliceblue;
    position: absolute;
    right: 80px;
    top: 170px;
}

.main .layer4 .text6 h1 {
    color: palevioletred;
    position: absolute;
    right: 150px;
    top: 230px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.main .layer4:hover {
    filter: brightness(85%);
    background-position: center;
}

.main .layer1 .icon3 a {
    position: absolute;
    left: 1450px;
    color: white;
    font-size: 25px;
    top: 20px;
    transition: 0.5s;
}

.main .layer1 .icon3 a:hover {
    background-position: center;
    font-size: 30px;
    color: fuchsia;
}